@import '../../../assets/colours.module';
@import '../../../assets/responsiveDesignHelpers';
@import '../../../assets/animations.module';

.headerCell {
    background-color: $purple700;
    color: white;
    align-items: right;
    text-align: right;

    &:first-of-type {
        text-align: left;
    }
}

.table {
    table-layout: fixed;
    @extend .fadeInAnimation;
}

// fix layout on smaller screen
@include responsive(tablet) {
    .table {
        table-layout: auto;
    }
}
