@import '../../../assets/colours';

.header {
    font-size: 3rem;
    color: $heading;
}

.subheader {
    font-size: 2rem;
    margin-top: 5rem;
    width: 60%;
}

.text {
    font-size: 1.2rem;
}

.content {
    margin: 4rem;
}

.loginContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex: 1;
    button {
        height: fit-content;
        padding: 1rem 4rem;
    }
}

.QnA {
    color: $body;
    margin-left: 2rem;
    width: 80%;
}
