@import '../../../assets/responsiveDesignHelpers';
@import '../../../assets/colours.module';
@import '../../../assets/animations.module';
.form,
.section,
.inputContainer,
.chartContainer {
    display: flex;
    flex-direction: column;
}

.form {
    @extend .fadeInAnimation;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5rem;
    margin: 0rem 0 4rem 0;
}

.bookingForm {
    @extend .form;
    margin: 0;
}

.inputContainer {
    flex: 1 0;
    gap: 1.5rem;
}

.chartContainer {
    align-items: center;
    justify-content: center;
    width: 80%;
}

.divider {
    width: 100%;
    margin: 3rem 0;
}

.gantt {
    max-width: 100%;
}
.ganttError {
    color: $red;
    min-height: 1.5rem;
    text-align: center;
}

@include responsive(tablet) {
    .form {
        flex-direction: column;
        gap: 2rem;
    }
    .inputContainer {
        gap: 1rem;
    }
    .verticalDivider {
        display: none;
    }
}

:global(.MuiFormGroup-row) {
    column-gap: 2.5rem;
}

:global(.MuiFormLabel-root) {
    color: $purple300 !important;
}
