@import '../../../assets/colours';
@import '../../../assets/responsiveDesignHelpers';

.container {
    width: 100%;
    margin: 1rem;
}

.workstationHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    flex-basis: 100%;
    color: $heading;
}

.workstationPlaceholder {
    height: 20rem;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@include responsive(tablet) {
    .workstationHeader {
        flex-direction: column;
    }
}
