@import '../../../assets/colours.module';
@import '../../../assets/responsiveDesignHelpers';

.content {
    @extend .responsiveMargin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    color: $heading;
    margin-bottom: 2rem;
    text-align: center;
}

.accountDetailsContainer {
    margin-bottom: 1rem;
}

.uoaEmail {
    color: $body;
    font-weight: 500;
}

.inputTitle {
    color: $purple300;
    margin-bottom: 0.3rem;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    row-gap: 2em;
}

.inputField {
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.accountDetailsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// Make name inputs appear in a column
@include responsive(mobile) {
    .nameContainer {
        flex-direction: column;
    }

    .accountDetailsHeader {
        flex-direction: column;
    }
}
