@import '../../../assets/responsiveDesignHelpers';
@import '../../../assets/colours.module';

.header {
    align-self: flex-start;
    margin-bottom: 4rem;
}

.userInfoContainer,
.requestDetailsContainer,
.details {
    width: 100%;
    display: flex;
}

.userInfoContainer {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5rem;
}

.requestDetailsContainer {
    column-gap: 10rem;
}

.details {
    flex-direction: column;
    row-gap: 2em;
}

.divider {
    width: 100%;
    margin: 3rem 0;
}

@include responsive(tablet) {
    .userInfoContainer,
    .details,
    .requestDetailsContainer {
        flex-direction: column;
        row-gap: 2rem;
    }
}
