@import '../../../assets/responsiveDesignHelpers';

.buttonsContainer {
    display: flex;
    flex-direction: row-reverse;
}

.buttons {
    margin-top: -110px;
    margin-right: 10px;
    z-index: 9;
}

.legendWrapper {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

@include responsive(mobile) {
    .legendWrapper {
        justify-content: flex-start;
    }
}
