@import '../../../assets/responsiveDesignHelpers';
@import '../../../assets/_colours.module.scss';
@import '../../../assets/animations.module';

.wrapper {
    @extend .fadeInAnimation;
    width: 100%;
}

.buttonsContainer {
    display: flex;
    flex-direction: row-reverse;
}

.buttons {
    margin-top: -110px;
    margin-right: 10px;
    z-index: 9;
}

.legendWrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-size: 0.7rem;
    align-items: center;
    padding-left: 1rem;
}

@include responsive(mobile) {
    .legendWrapper {
        justify-content: space-around;
        flex-direction: column;
    }
}

.tooltipEmail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $yellow;
    line-height: 1;
    column-gap: 0.2rem;
    width: max-content;
}
