@import '../../../assets/colours.module';
@import '../../../assets/responsiveDesignHelpers';

@mixin theme($theme: $purple700) {
    background-color: $theme;
    border: 2px solid $theme;
    &:hover,
    &.outline {
        background-color: transparent;
        color: $theme;
    }
    &.outline:hover {
        background-color: $theme;
        color: white;
    }
}

.button {
    @include theme;

    border-radius: 32px;
    color: white;
    display: flex;
    font-family: NationalBold, sans-serif;
    font-weight: bold;
    margin: 0.5em;
    max-width: 100%;
    min-height: 3em;
    overflow: hidden;
    padding: 0.8em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    text-overflow: ellipsis;
    transition: 0.3s;
    vertical-align: middle;
    white-space: nowrap;
}

.lighter {
    @include theme($theme: $purple500);
}

.green {
    @include theme($theme: $green);
}

.yellow {
    @include theme($theme: $yellow);
}

.red {
    @include theme($theme: $red);
}

@include responsive(tablet) {
    .small {
        padding: 0.6em 2em;
    }
}
