@import '../../../assets/colours.module';
@import '../../../assets/responsiveDesignHelpers';

.text {
    color: $body;
    line-height: normal;
    text-align: center;
    overflow: hidden;
}
.text span {
    display: inline-block;
    position: relative;
}
.text span:before,
.text span:after {
    content: '';
    position: absolute;
    height: 5px;
    border-bottom: 1px solid black;
    top: 0.45em;
    width: 100vw;
}
.text span:before {
    right: 100%;
    margin-right: 15px;
}
.text span:after {
    left: 100%;
    margin-left: 15px;
}

.alignLeft {
    text-align: left;
    padding-left: 5vw;
}

.subHeader {
    font-size: 1.2rem;
    color: $heading;
}

.subHeader span:before,
.subHeader span:after {
    border-bottom: 1px solid $subHeading;
}

@include responsive(mobile) {
    .alignLeft {
        padding-left: 0;
    }
}
