@import '../../../assets/colours.module';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    color: $purple300;
    margin: 0 0 0.3rem 0;
}

.asterisk {
    color: red;
}

.dateTimePicker {
    cursor: pointer;
}
