@import '../../../assets/responsiveDesignHelpers';
@import '../../../assets/colours.module';
@import '../../../assets/animations.module';

.header {
    align-self: flex-start;
    margin-bottom: 4rem;
}

.buttonContainer {
    display: flex;
    column-gap: 2rem;
}
