@import '../../../assets/colours.module';
@import '../../../assets/responsiveDesignHelpers';

.adminButtonWrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    min-height: 30px;
}

.menuButton {
    color: white;
    width: 100%;
    background: $purple800;
    &:hover {
        background: $purple800Hover;
    }
}

@include responsive(tablet) {
    .menuButton {
        margin-top: 0.4em;
    }
}
