@import '../../../assets/colours.module';
@import '../../../assets/responsiveDesignHelpers';
@import '../../../assets/animations.module';
$borderRadius: 5px 0 0 5px;
$borderRadiusMobile: 5px 5px 0 0;

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    @extend .fadeInAnimation;
}

.infoContent {
    background: $purple700;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 12em;
    padding: 1em 2em;
    border-radius: $borderRadius;
    max-width: 180px;
}

.workstationName {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.infoFields {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.ganttLoadingWrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.ganttWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0 5px 0 0;
}

@include responsive(tablet) {
    .wrapper {
        flex-direction: column;
    }
    .infoContent {
        border-radius: $borderRadiusMobile;
        max-width: none;
    }
    .workstationName {
        justify-content: left;
    }

    .infoFields {
        flex-direction: row;
    }
}
