@import './assets/colours.module';

.MuiTableBody-root > .MuiTableRow-root:hover,
.MuiMenuItem-root:hover {
    background-color: $subHeading;
    transition: all 0.3s;
}

.MuiPaper-root .MuiTableHead-root {
    background-color: $purple700;
}

.MuiMenu-paper {
    max-height: calc(50% - 35px);
}
