@import '../../../assets/responsiveDesignHelpers';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

@include responsive(mobile) {
    .container {
        width: 100%;
    }
}
